/* ======================= Home Page Header Nav Bar ======================== */

/* top header */
a.text-link-white-2,
a.text-link-white-2 i {
  color: #232323;
}
.separator-line-verticle-extra-small {
  width: 2px;
  height: 15px;
}
.wrap-sticky nav.navbar.bootsnav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

/* nav bar */
.navbar-fixed-top {
  position: fixed;
  top: 5%;
  right: 0;
  left: 0;
  z-index: 1030;
}
header.sticky nav.navbar-fixed-top.header-light {
  top: 0%;
  transition: top 1s ease;
  background-color: #ffffff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
header nav .navbar-nav > li:last-child a {
  color: white;
  margin-right: 0;
}
header.sticky nav.navbar-fixed-top.header-light button a {
  color: #232323;
}
nav .accordion-menu {
  display: flex;
  position: initial !important;
  align-items: center;
  justify-content: flex-end;
}
.black-logo {
  display: none;
}
.white-logo {
  display: block;
}
.btn.btn-deep-pink {
  background: var(--base-color);
  border-color: var(--base-color);
  color: #ffffff !important;
}
.btn.btn-deep-pink:hover,
.btn.btn-deep-pink:focus,
.btn.btn-deep-pink:hover a,
.btn.btn-deep-pink a:hover {
  background: transparent;
  border-color: var(--base-color);
  /* color: var(--base-color) !important; */
  color: rgba(255, 255, 255, 0.6);
}

.btn.btn-transparent-deep-pink {
  background: transparent;
  border-color: var(--base-color);
  color: #000000;
}
.btn.btn-transparent-deep-pink:hover,
.btn.btn-transparent-deep-pink:focus {
  background: var(--base-color);
  border-color: var(--base-color);
  color: #fff;
}
.feature-box-18:hover i,
.feature-box-18:hover div,
.feature-box-18:hover p,
.feature-box-18:hover a {
  color: #fff !important;
}

.text-extra-seal-brown,
.btn.text-deep-seal-brown {
  color: #480000;
}
.text-dark-red,
.btn.text-dark-red {
  color: #900000;
}
.text-orange,
.btn.text-orange {
  color: #ed5623;
}

.text-extra {
  font-size: 28px;
  line-height: 36px;
}

.feature-box-18 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-border {
  background: transparent;
  border: 1px solid #484848;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 14px;
  border-radius: 0;
}
input::placeholder,
textarea::placeholder {
  padding: 0% 2%;
}

#contact-form-2 .btn.btn-deep-pink {
  background: var(--base-color);
  border-color: var(--base-color);
  color: #ffffff !important;
}
#contact-form-2 .btn.btn-deep-pink:hover,
#contact-form-2 .btn.btn-deep-pink:focus,
#contact-form-2 .btn.btn-deep-pink:hover a,
#contact-form-2 .btn.btn-deep-pink a:hover {
  background: transparent;
  border-color: var(--base-color);
  color: var(--base-color) !important;
}

footer .small-icon .icon a{
  background: #404040;
  padding: 25% 50%;
  margin: 0% 5%;
  line-height: 20px;
}
footer .small-icon .icon a i{
  font-size: 15px;
}

/* ======================= Home Page Responsive ======================== */
@media (min-width: 992px) {
  .dropdown.megamenu-fw-btn {
    display: none;
  }
}
